<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="W9xNET.Explorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="W9xNET.Explorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <W9xNET.Explorer.Properties.Settings>
            <setting name="IsRedmondBanner" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WatermarkFont" serializeAs="String">
                <value>Tahoma, 9pt, style=Bold</value>
            </setting>
        </W9xNET.Explorer.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <W9xNET.Explorer.Properties.Settings>
            <setting name="IsDev" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WatermarkDevString" serializeAs="String">
                <value>Development Build</value>
            </setting>
        </W9xNET.Explorer.Properties.Settings>
    </applicationSettings>
</configuration>